### Data Preprocessing

In [49]:
dataList = []
file = 'data.rtf'

with open(file) as fp:
    dataList = [tuple(map(float, i.split(" "))) for i in fp]

In [50]:
coordinates = []

for data in dataList:
    node, x_coord, y_coord = data
    coordinates.append(tuple((data[1], data[2])))

In [51]:
print(coordinates)

[(63.0, 71.0), (94.0, 71.0), (142.0, 370.0), (173.0, 1276.0), (205.0, 1213.0), (213.0, 69.0), (244.0, 69.0), (276.0, 630.0), (283.0, 732.0), (362.0, 69.0), (394.0, 69.0), (449.0, 370.0), (480.0, 1276.0), (512.0, 1213.0), (528.0, 157.0), (583.0, 630.0), (591.0, 732.0), (638.0, 654.0), (638.0, 496.0), (638.0, 314.0), (638.0, 142.0), (669.0, 142.0), (677.0, 315.0), (677.0, 496.0), (677.0, 654.0), (709.0, 654.0), (709.0, 496.0), (709.0, 315.0), (701.0, 142.0), (764.0, 220.0), (811.0, 189.0), (843.0, 173.0), (858.0, 370.0), (890.0, 1276.0), (921.0, 1213.0), (992.0, 630.0), (1000.0, 732.0), (1197.0, 1276.0), (1228.0, 1213.0), (1276.0, 205.0), (1299.0, 630.0), (1307.0, 732.0), (1362.0, 654.0), (1362.0, 496.0), (1362.0, 291.0), (1425.0, 654.0), (1425.0, 496.0), (1425.0, 291.0), (1417.0, 173.0), (1488.0, 291.0), (1488.0, 496.0), (1488.0, 654.0), (1551.0, 654.0), (1551.0, 496.0), (1551.0, 291.0), (1614.0, 291.0), (1614.0, 496.0), (1614.0, 654.0), (1732.0, 189.0), (1811.0, 1276.0), (1843.0, 1213.0), (1913.0, 630.0), (1921.0, 732.0), (2087.0, 370.0), (2118.0, 1276.0), (2150.0, 1213.0), (2189.0, 205.0), (2220.0, 189.0), (2220.0, 630.0), (2228.0, 732.0), (2244.0, 142.0), (2276.0, 315.0), (2276.0, 496.0), (2276.0, 654.0), (2315.0, 654.0), (2315.0, 496.0), (2315.0, 315.0), (2331.0, 142.0), (2346.0, 315.0), (2346.0, 496.0), (2346.0, 654.0), (2362.0, 142.0), (2402.0, 157.0), (2402.0, 220.0), (2480.0, 142.0), (2496.0, 370.0), (2528.0, 1276.0), (2559.0, 1213.0), (2630.0, 630.0), (2638.0, 732.0), (2756.0, 69.0), (2787.0, 69.0), (2803.0, 370.0), (2835.0, 1276.0), (2866.0, 1213.0), (2906.0, 69.0), (2937.0, 69.0), (2937.0, 630.0), (2945.0, 732.0), (3016.0, 1276.0), (3055.0, 69.0), (3087.0, 69.0), (606.0, 220.0), (1165.0, 370.0), (1780.0, 370.0)]

### Step 1: Obtain D(tsp)

In [52]:
import pants
import math

In [53]:
def euclidean(a, b):
    return math.sqrt(pow(a[1] - b[1], 2) + pow(a[0] - b[0], 2))

In [54]:
world = pants.World(coordinates, euclidean)
solver = pants.Solver()
dTSP = solver.solve(world)
print(dTSP.distance)
print(dTSP.tour)    # Nodes visited in order

21399.8471605471
[(2346.0, 654.0), (2315.0, 654.0), (2276.0, 654.0), (2220.0, 630.0), (2228.0, 732.0), (2276.0, 496.0), (2315.0, 496.0), (2346.0, 496.0), (2315.0, 315.0), (2346.0, 315.0), (2402.0, 220.0), (2402.0, 157.0), (2362.0, 142.0), (2331.0, 142.0), (2244.0, 142.0), (2220.0, 189.0), (2189.0, 205.0), (2276.0, 315.0), (2480.0, 142.0), (2787.0, 69.0), (2756.0, 69.0), (2906.0, 69.0), (2937.0, 69.0), (3055.0, 69.0), (3087.0, 69.0), (2937.0, 630.0), (2945.0, 732.0), (2638.0, 732.0), (2630.0, 630.0), (1913.0, 630.0), (1921.0, 732.0), (1843.0, 1213.0), (1811.0, 1276.0), (1307.0, 732.0), (1362.0, 654.0), (1425.0, 654.0), (1488.0, 654.0), (1551.0, 654.0), (1614.0, 654.0), (1551.0, 496.0), (1614.0, 496.0), (1417.0, 173.0), (1488.0, 291.0), (1425.0, 291.0), (1362.0, 291.0), (1276.0, 205.0), (1165.0, 370.0), (1299.0, 630.0), (1425.0, 496.0), (1362.0, 496.0), (1488.0, 496.0), (858.0, 370.0), (764.0, 220.0), (811.0, 189.0), (843.0, 173.0), (677.0, 496.0), (709.0, 496.0), (638.0, 496.0), (677.0, 315.0), (709.0, 315.0), (638.0, 314.0), (606.0, 220.0), (638.0, 142.0), (669.0, 142.0), (701.0, 142.0), (94.0, 71.0), (63.0, 71.0), (244.0, 69.0), (213.0, 69.0), (362.0, 69.0), (394.0, 69.0), (528.0, 157.0), (449.0, 370.0), (142.0, 370.0), (276.0, 630.0), (283.0, 732.0), (890.0, 1276.0), (921.0, 1213.0), (512.0, 1213.0), (480.0, 1276.0), (173.0, 1276.0), (205.0, 1213.0), (591.0, 732.0), (638.0, 654.0), (677.0, 654.0), (709.0, 654.0), (583.0, 630.0), (1228.0, 1213.0), (1197.0, 1276.0), (1000.0, 732.0), (992.0, 630.0), (1551.0, 291.0), (1614.0, 291.0), (1732.0, 189.0), (2087.0, 370.0), (1780.0, 370.0), (2496.0, 370.0), (2803.0, 370.0), (2835.0, 1276.0), (2866.0, 1213.0), (3016.0, 1276.0), (2528.0, 1276.0), (2559.0, 1213.0), (2118.0, 1276.0), (2150.0, 1213.0)]

##### Here, solutionDistance obtained is D(tsp)

### Step 2: Obtain release dates and then add columns

In [55]:
import random

beta = [0.5, 1, 1.5]
lowerBound = 0
upperBound1 = int(beta[0]*dTSP.distance)
upperBound2 = int(beta[1]*dTSP.distance)
upperBound3 = int(beta[2]*dTSP.distance)

releaseDate1 = []
releaseDate2 = []
releaseDate3 = []

for i in range(len(coordinates)):
    releaseDate1.append(random.randint(lowerBound, upperBound1))

for i in range(len(coordinates)):
    releaseDate2.append(random.randint(lowerBound, upperBound2))
    
for i in range(len(coordinates)):
    releaseDate3.append(random.randint(lowerBound, upperBound3))

In [56]:
print(releaseDate1)

[5181, 5788, 1149, 7949, 1158, 7754, 7784, 9404, 1790, 9924, 10422, 4180, 4149, 2369, 6326, 5283, 9553, 6352, 7101, 7234, 3644, 6462, 3179, 8579, 4454, 3323, 5058, 9008, 229, 5732, 8, 7932, 8087, 9992, 1706, 5444, 9156, 3163, 5946, 4150, 1960, 8942, 10011, 7576, 4131, 7512, 3353, 3466, 7609, 10178, 6723, 2063, 3797, 3891, 1713, 5284, 3949, 5113, 10616, 1258, 291, 2540, 6756, 10698, 6108, 2073, 9591, 10204, 1983, 3630, 10076, 8488, 10154, 169, 6821, 1186, 7809, 598, 6618, 3981, 6544, 5748, 7827, 3066, 7101, 2101, 3377, 5472, 7927, 440, 5381, 5510, 3229, 7261, 3710, 1780, 7665, 9586, 7626, 8351, 3687, 4486, 9707, 1638, 1840]

In [66]:
import pandas as pd
cols = ["node", "x_coord", "y_coord"]

In [67]:
data = pd.read_csv('data.rtf', header=None, delimiter=" ")
data.columns = cols

In [68]:
data.head()

   node  x_coord  y_coord
0     1       63       71
1     2       94       71
2     3      142      370
3     4      173     1276
4     5      205     1213

In [69]:
data['releaseDate1'] = releaseDate1
data['releaseDate2'] = releaseDate2
data['releaseDate3'] = releaseDate3

In [70]:
data.head()

   node  x_coord  y_coord  releaseDate1  releaseDate2  releaseDate3
0     1       63       71          5181          8052          6732
1     2       94       71          5788         13422         22962
2     3      142      370          1149         14356         25921
3     4      173     1276          7949          4610          7914
4     5      205     1213          1158          8566         30531