### Data Preprocessing

In [2]:
dataList = []
file = 'data.rtf'

with open(file) as fp:
    dataList = [tuple(map(float, i.split(" "))) for i in fp]

In [3]:
coordinates = []

for data in dataList:
    node, x_coord, y_coord = data
    coordinates.append(tuple((data[1], data[2])))

In [46]:
print(coordinates[1])

(94.0, 71.0)

### Step 1: Obtain D(tsp)

In [5]:
import pants
import math

In [6]:
def euclidean(a, b):
    return math.sqrt(pow(a[1] - b[1], 2) + pow(a[0] - b[0], 2))

In [48]:
world = pants.World(coordinates, euclidean)
solver = pants.Solver()
dTSP = solver.solve(world)
print(dTSP.distance)
print(dTSP.tour)    # Nodes visited in order

22158.14040984859
[(1276.0, 205.0), (1417.0, 173.0), (1488.0, 291.0), (1551.0, 291.0), (1614.0, 291.0), (1425.0, 291.0), (1362.0, 291.0), (1165.0, 370.0), (992.0, 630.0), (1000.0, 732.0), (528.0, 157.0), (669.0, 142.0), (638.0, 142.0), (606.0, 220.0), (764.0, 220.0), (843.0, 173.0), (811.0, 189.0), (701.0, 142.0), (858.0, 370.0), (709.0, 315.0), (677.0, 315.0), (638.0, 314.0), (638.0, 496.0), (677.0, 496.0), (709.0, 496.0), (921.0, 1213.0), (890.0, 1276.0), (1197.0, 1276.0), (1228.0, 1213.0), (512.0, 1213.0), (480.0, 1276.0), (205.0, 1213.0), (173.0, 1276.0), (283.0, 732.0), (276.0, 630.0), (213.0, 69.0), (244.0, 69.0), (394.0, 69.0), (362.0, 69.0), (583.0, 630.0), (638.0, 654.0), (677.0, 654.0), (709.0, 654.0), (591.0, 732.0), (1307.0, 732.0), (1362.0, 654.0), (1299.0, 630.0), (1488.0, 654.0), (1425.0, 654.0), (1551.0, 654.0), (1614.0, 654.0), (1913.0, 630.0), (1921.0, 732.0), (2276.0, 654.0), (2315.0, 654.0), (2346.0, 654.0), (2228.0, 732.0), (2220.0, 630.0), (2630.0, 630.0), (2638.0, 732.0), (2346.0, 496.0), (2315.0, 496.0), (2276.0, 496.0), (2346.0, 315.0), (2315.0, 315.0), (2276.0, 315.0), (2496.0, 370.0), (2480.0, 142.0), (2402.0, 157.0), (2362.0, 142.0), (2331.0, 142.0), (2244.0, 142.0), (2220.0, 189.0), (2189.0, 205.0), (2087.0, 370.0), (1614.0, 496.0), (1551.0, 496.0), (1488.0, 496.0), (1425.0, 496.0), (1362.0, 496.0), (1780.0, 370.0), (1732.0, 189.0), (2402.0, 220.0), (2906.0, 69.0), (2937.0, 69.0), (3055.0, 69.0), (3087.0, 69.0), (2787.0, 69.0), (2756.0, 69.0), (2803.0, 370.0), (2945.0, 732.0), (2937.0, 630.0), (3016.0, 1276.0), (2866.0, 1213.0), (2835.0, 1276.0), (2528.0, 1276.0), (2559.0, 1213.0), (2150.0, 1213.0), (2118.0, 1276.0), (1843.0, 1213.0), (1811.0, 1276.0), (449.0, 370.0), (142.0, 370.0), (94.0, 71.0), (63.0, 71.0)]

##### Here, solutionDistance obtained is D(tsp)

### Step 2: Obtain release dates and then add columns

In [49]:
import random

beta = [0.5, 1, 1.5]
lowerBound = 0
upperBound1 = int(beta[0]*dTSP.distance)
upperBound2 = int(beta[1]*dTSP.distance)
upperBound3 = int(beta[2]*dTSP.distance)

releaseDate1 = []
releaseDate2 = []
releaseDate3 = []

# setting depo node to 0

releaseDate1.insert(0, 0)
releaseDate2.insert(0, 0)
releaseDate3.insert(0, 0)


for i in range(1, len(coordinates)):
    releaseDate1.append(random.randint(lowerBound, upperBound1))

for i in range(1, len(coordinates)):
    releaseDate2.append(random.randint(lowerBound, upperBound2))
    
for i in range(1, len(coordinates)):
    releaseDate3.append(random.randint(lowerBound, upperBound3))

In [50]:
print(releaseDate1)

[0, 10517, 732, 5532, 61, 9126, 2867, 8817, 8207, 1088, 3913, 3537, 8504, 909, 344, 4556, 8394, 76, 5637, 7004, 6512, 7167, 9968, 1670, 3150, 7365, 5876, 1332, 4160, 9415, 9008, 10770, 7573, 10789, 2721, 7932, 4100, 2461, 1853, 9849, 5329, 8943, 10548, 19, 7706, 6473, 9290, 9705, 2505, 6684, 7104, 9060, 424, 5782, 1797, 8140, 7778, 1234, 7298, 4754, 10593, 819, 3247, 173, 908, 10121, 9337, 9219, 2187, 9519, 8019, 2406, 1380, 9576, 1027, 2601, 391, 2693, 1608, 9484, 9093, 4507, 9267, 5940, 2371, 9322, 2594, 1627, 211, 7964, 791, 9185, 8060, 8594, 11009, 8766, 2263, 5645, 10605, 3279, 7354, 570, 9012, 8105, 4294]

In [51]:
print(sorted(releaseDate1))

[0, 19, 61, 76, 173, 211, 344, 391, 424, 570, 732, 791, 819, 908, 909, 1027, 1088, 1234, 1332, 1380, 1608, 1627, 1670, 1797, 1853, 2187, 2263, 2371, 2406, 2461, 2505, 2594, 2601, 2693, 2721, 2867, 3150, 3247, 3279, 3537, 3913, 4100, 4160, 4294, 4507, 4556, 4754, 5329, 5532, 5637, 5645, 5782, 5876, 5940, 6473, 6512, 6684, 7004, 7104, 7167, 7298, 7354, 7365, 7573, 7706, 7778, 7932, 7964, 8019, 8060, 8105, 8140, 8207, 8394, 8504, 8594, 8766, 8817, 8943, 9008, 9012, 9060, 9093, 9126, 9185, 9219, 9267, 9290, 9322, 9337, 9415, 9484, 9519, 9576, 9705, 9849, 9968, 10121, 10517, 10548, 10593, 10605, 10770, 10789, 11009]

In [62]:
import pandas as pd
cols = ["node", "x_coord", "y_coord"]

In [64]:
data = pd.read_csv('data.rtf', header=None, delimiter=" ")
data.columns = cols

In [54]:
data.head()

   node  x_coord  y_coord
0     1       63       71
1     2       94       71
2     3      142      370
3     4      173     1276
4     5      205     1213

### Step 3: Split into three different Instances

In [55]:
data1 = data.copy()
data2 = data.copy()
data3 = data.copy()

In [56]:
data1['releaseDate'] = releaseDate1
data2['releaseDate'] = releaseDate2
data3['releaseDate'] = releaseDate3

In [57]:
data3.head(10)

   node  x_coord  y_coord  releaseDate
0     1       63       71            0
1     2       94       71        19680
2     3      142      370        23500
3     4      173     1276        28100
4     5      205     1213        15706
5     6      213       69         2425
6     7      244       69         1225
7     8      276      630        13118
8     9      283      732        19431
9    10      362       69        10014

### Step 4: Sort coordinates based on release dates

In [58]:
data1 = data1.sort_values(by = 'releaseDate')
data2 = data2.sort_values(by = 'releaseDate')
data3 = data3.sort_values(by = 'releaseDate')

In [68]:
data1.head(10)

     node  x_coord  y_coord  releaseDate
0       1       63       71            0
43     44     1362      496           19
4       5      205     1213           61
17     18      638      654           76
63     64     2087      370          173
88     89     2630      630          211
14     15      528      157          344
76     77     2315      315          391
52     53     1551      654          424
101   102     3087       69          570

In [67]:
# save instances to CSV file for algorithm implementation

data1.to_csv('data1', index=False, header=False)