### Data Preprocessing

In [126]:
dataList = []
coordianteList = []
file = 'data.rtf'

with open(file) as fp:
    dataList = [tuple(map(float, i.split(" "))) for i in fp]

In [133]:
cityData = []
for data in dataList:
    node, x_coord, y_coord = data
    coordinateList.append(tuple((data[1], data[2])))

In [134]:
print(cityData)

[(63.0, 71.0), (94.0, 71.0), (142.0, 370.0), (173.0, 1276.0), (205.0, 1213.0), (213.0, 69.0), (244.0, 69.0), (276.0, 630.0), (283.0, 732.0), (362.0, 69.0), (394.0, 69.0), (449.0, 370.0), (480.0, 1276.0), (512.0, 1213.0), (528.0, 157.0), (583.0, 630.0), (591.0, 732.0), (638.0, 654.0), (638.0, 496.0), (638.0, 314.0), (638.0, 142.0), (669.0, 142.0), (677.0, 315.0), (677.0, 496.0), (677.0, 654.0), (709.0, 654.0), (709.0, 496.0), (709.0, 315.0), (701.0, 142.0), (764.0, 220.0), (811.0, 189.0), (843.0, 173.0), (858.0, 370.0), (890.0, 1276.0), (921.0, 1213.0), (992.0, 630.0), (1000.0, 732.0), (1197.0, 1276.0), (1228.0, 1213.0), (1276.0, 205.0), (1299.0, 630.0), (1307.0, 732.0), (1362.0, 654.0), (1362.0, 496.0), (1362.0, 291.0), (1425.0, 654.0), (1425.0, 496.0), (1425.0, 291.0), (1417.0, 173.0), (1488.0, 291.0), (1488.0, 496.0), (1488.0, 654.0), (1551.0, 654.0), (1551.0, 496.0), (1551.0, 291.0), (1614.0, 291.0), (1614.0, 496.0), (1614.0, 654.0), (1732.0, 189.0), (1811.0, 1276.0), (1843.0, 1213.0), (1913.0, 630.0), (1921.0, 732.0), (2087.0, 370.0), (2118.0, 1276.0), (2150.0, 1213.0), (2189.0, 205.0), (2220.0, 189.0), (2220.0, 630.0), (2228.0, 732.0), (2244.0, 142.0), (2276.0, 315.0), (2276.0, 496.0), (2276.0, 654.0), (2315.0, 654.0), (2315.0, 496.0), (2315.0, 315.0), (2331.0, 142.0), (2346.0, 315.0), (2346.0, 496.0), (2346.0, 654.0), (2362.0, 142.0), (2402.0, 157.0), (2402.0, 220.0), (2480.0, 142.0), (2496.0, 370.0), (2528.0, 1276.0), (2559.0, 1213.0), (2630.0, 630.0), (2638.0, 732.0), (2756.0, 69.0), (2787.0, 69.0), (2803.0, 370.0), (2835.0, 1276.0), (2866.0, 1213.0), (2906.0, 69.0), (2937.0, 69.0), (2937.0, 630.0), (2945.0, 732.0), (3016.0, 1276.0), (3055.0, 69.0), (3087.0, 69.0), (606.0, 220.0), (1165.0, 370.0), (1780.0, 370.0)]

In [63]:
import pandas as pd
cols = ["node", "x_coord", "y_coord"]

In [64]:
data = pd.read_csv('data.rtf', header=None, delimiter=" ")

In [70]:
data.head()

   node  x_coord  y_coord
0     1       63       71
1     2       94       71
2     3      142      370
3     4      173     1276
4     5      205     1213

In [71]:
data.columns = cols

In [72]:
data.head()

   node  x_coord  y_coord
0     1       63       71
1     2       94       71
2     3      142      370
3     4      173     1276
4     5      205     1213